<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Online</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="~/lib/jquery/dist/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>

    <!-- Header -->
    <header class="header">
        <div class="nav1">
        <div class="logo">
            Phụ kiện thú cưng
        </div>

        <nav class="nav">
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-house"></i>
                Trang chủ
            </a>
            <a href="#">
                <i class="fa-solid fa-newspaper"></i>
                Tin tức
            </a>
            <a href="#">
                <i class="fa-solid fa-book-open-reader"></i>
                Giới thiệu
            </a>
            <a href="#">
                <i class="fa-solid fa-address-book"></i>
                Liên hệ
            </a>
        </nav>
        </div>

        <div class="nav2">
        <div class="categoies">
            @await Component.InvokeAsync("CategoriesMenu")
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Tìm kiếm sản phẩm...">
            <button>Tìm kiếm</button>
        </div>
        <div class="header-icons">
            <a asp-action="LogIn">
                <i class="fa-solid fa-basket-shopping"></i>
                Giỏ hàng
            </a>
            <a asp-action="LogIn">
                <i class="fa-solid fa-right-to-bracket"></i>
                Đăng nhập
            </a>
            <a asp-action="Register">
                <i class="fa-solid fa-user-plus"></i>
                Đăng ký
            </a>
        </div>
        </div>
    </header>

    <!-- Main Content -->
    <main class="container">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2025 Shop Online. Mọi quyền được bảo lưu.</p>
        <p>Địa chỉ: 123 Đường ABC, Quận X, Thành phố Y</p>
        <p>Email: support@shoponline.com | Hotline: 0123 456 789</p>
    </footer>

</body>
</html>